@charset "utf-8";
/* 样式说明： 初始化css
 * 开发时间：2015-07-10
 * 开发者： yjs(413903021@qq.com)    
 * 维护者： 
 *
 * 样式版本： v1.1
 * 版本时间： 
 * 注意事项： 基本样式,所有共用基本样式将在这里定义
 */
/**---------------------------- index--------------------------*/
.bg1{background:#f3ba22;}
.index_main{background:url(../images/yellow_bj.png) no-repeat right top; overflow:hidden; padding:15px 2% 15px 0%; background-size:60%;}
.index_main ul li{background:#fff; float:left; width:31%; margin:0 0 10px 2%; padding:20px 10px;}
.index_main ul li:nth-child(4),.index_main ul li:nth-child(5),.index_main ul li:nth-child(6){padding:10px 10px;}
.index_main ul li:nth-child(6){background:rgba(249,221,145,0.8);}
.countdown{float:right; margin:0px 2% 30px 0; width:60%; height:auto; position:relative; background:url(../images/count.png) no-repeat; background-size:100%;}
.countdown .count_btn{position:absolute; left:0%; top:2%; width:20%;}
.countdown .count_num{position:absolute; right:11%; top:20%; width:20%; font-size:18px; font-weight:bold; color:#fff;}
/**---------------------------- car_comparison--------------------------*/
.imgsprite{background:url(../images/img_sprit.png) no-repeat;}
.carbj_box{background:#fdfdfd; border-bottom:2px solid #bababa;}
.carbj_box .caranimate{width:90%; margin:0px auto; padding-top:15px; position:relative;}
.caranimate .carimg{position:absolute; left:10px; width:55px; height:18px; background-position:0 0;}
.caranimate .totalline{background:#9e9e9e; position:relative; height:6px;  margin-top:25px; line-height:1px;}
.caranimate .statusline{background:#ebbc04; height:6px; line-height:1px; width:25%;}
.totalline em{background:#fff; width:8px; position:absolute; top:-2px; left:25%; box-shadow:0px 1px 2px #666; height:8px; border:1px solid #e6e6e6; border-radius:50%;}
.caranimate .carinfobox{border:3px solid #ebebeb; color:#000; background:#fdfdfd; text-align:center; padding:3px 5px; position:absolute; top:60px; left:25%; margin-left:-44px;}
.caranimate .carinfoarr{background:url(../images/carinfoboxarr.png) no-repeat #fdfdfd; width:15px; height:10px; position:absolute; top:53px; left:25%;}
.carbj_box .mar_t{margin:55px 0 10px;}
.fillinfo_box{padding:40px 20px;}
.fillinfo_box ul li .des{height:35px; line-height:35px; color:#a60c00; padding-left:10px;}
.fillinfo_box ul li .des i{background-position:0 -79px; vertical-align: -7px;display: inline-block; background-size: 100px auto; width:27px;height:26px;}
.fillinfo_box ul li .liimg{float:left; width:42px;}
.fillinfo_box .mar_l_30{margin-left:30px;}
.liimg.city{background-position:6px -24px; width:27px; height:32px;margin-top:2px;}
.liimg.num{background-position:-46px -30px; margin-top:6px; width:37px; height:24px;}
.liimg.name{background-position:6px -66px; width:26px; height:29px;margin-top:2px;}
.fillinfo_box ul li .textbox{display:inline-block; width:85%;}
.license_box,.padding_20,.botline{padding:20px;}
.list_box li{position:relative;}
.list_box li .des{height:28px; line-height:28px; width:100%; color:#a60c00; padding-left:10px; visibility:hidden;}
.list_box li .des i{background-position:0 -79px; vertical-align: -7px;display: inline-block; background-size: 100px auto; width:27px;height:26px;}
.list_box li .img_box{background:#fff; border:1px solid #fff; padding:6px; margin:15px 0 8px; border-radius:6px;}
.list_box li .imgarr{position:absolute; left:20%; top:45px;width: 0;height: 0;border-left:10px solid transparent; border-right: 10px solid transparent; border-bottom:10px solid #fff;}
.orbox{padding:20px 0; font-size:14px; text-align:center;}
.tabbox{border-bottom:2px solid #bababa;}
.tabnav{ width:90%; margin:10px auto 0; overflow:hidden;}
.tabnav ul li{float:left; background:url(../images/tabico.png) no-repeat center center; background-size:98px auto; width:32%; text-align:center; font-family:"黑体"; font-weight:bold; font-size:16px;}
.tabnav ul li:nth-child(2),.tabnav ul li:nth-child(1){margin-right:2%;}
.tabnav ul li.current{background:url(../images/tabico1.png) no-repeat center center;background-size:98px auto;}
.insurebar{background:#999; border-top:2px solid #d4d4d4; border-bottom:1px solid #656565; box-shadow:0 2px 2px #d1d1d1; height:50px; line-height:50px; padding:0 30px; overflow:hidden;}
.insurebar .fl{float:left; color:#444444; font-family:"黑体"; font-weight:bold; font-size:16px;}
.insurebar .fr{float:right; color:#444444;font-size:16px;}
.insurebar .fr i{background-position:-120px -92px; width:30px; vertical-align:-8px; height:30px; display:inline-block; margin-right:10px;}
.insurebar .fr i.off{background-position:-120px -122px;}
.selectcom{padding:25px 0 0;}
.selectcom .selcarinfo{background:#d5d5d5; border:1px solid #d5d5d5; border-top-left-radius:6px; border-top-right-radius:6px; position:relative; color:#2b2b2b; padding:0px 15px 5px; width:90%; line-height:26px; margin:0 auto;}
.selcarinfo .title{padding-left:50px; font-weight:bold; font-size:14px; margin-bottom:6px;}
.selcarinfo .title .modifybtn{background:#e3e3e3; float:right; margin-top:6px; border:1px solid #ececea; border-radius:3px; box-shadow:1px 2px 2px #a5a5a5; text-align:center; color:#2d2d2d; padding:3px 6px;}
.selcarinfo .icocar{background:url(../images/ico_bwm.png) no-repeat; width:36px; height:36px; box-shadow:1px 2px 2px #9e9e9e; position:absolute; top:-16px; left:18px;}
.selcarinfo th{text-align:left;font-weight:bold;}
.selcarinfo td{text-align:right;font-weight:bold;}
.selectcom .botstatus{width:90%; margin:0 auto; border:1px solid #a4a4a4;font-weight:bold; border-bottom-left-radius:6px; border-bottom-right-radius:6px; padding:0 0 0 15px; background:#a4a4a4; height:30px; line-height:30px;}
.selectcom .botstatus.linestatus{ background:#6f6f6f; height:10px; line-height:1px;}
.selectcom .bxinfo{background:#fdfdfd; width:90%; margin:0 auto; padding:10px 15px;}
.selectcom .bxinfo p{border-bottom:1px dashed #a9a9a9; font-weight:bold; line-height:24px;}
.botstatus .colyel{color:#ebbc04; font-size:14px; font-weight:bold;}
.botstatus .fr{background:url(../images/arr_bg2.png) no-repeat;  background-size:45px auto; width:45px; height:28px;}
.botstatus .fr.down{background-position:0 -24px;}
.botstatus.linestatus .fr{ margin-top:-28px; position:relative;}
.bxfl{border-top:1px solid #666666; margin-top:10px; box-shadow:0px -1px 2px #666666; }
.bxfl_box{padding:8px 20px;width:90%; margin:0px auto;color:#292929;background:#fdfdfd;}
.bxfl_box .fl{background:url(../images/bpfl.png) no-repeat center center; width:20%; height:48px; margin-right:2%;}
.bxfl_box .fr{width:78%; line-height:18px; font-weight:bold;}
.bxgslist{overflow:hidden; width:90%; margin:0 auto;}
.bxgslist ul li{background:#fdfdfd; border-top:2px solid #cbcbcb; line-height:30px; padding:5px 10px;}
.bxgsico{background:url(../images/bxgsico.png) no-repeat; background-size:24px auto; display:inline-block; vertical-align:-4px;width:29px;height:20px;}
.bxgslist ul li i.zb,i.bxgsico.zb{background-position:0 0; height:12px;}
.bxgslist ul li i.as,i.bxgsico.as{background-position:0 -10px; height:21px;}
.bxgslist ul li i.yg,i.bxgsico.yg{background-position:0 -33px;}
.bxgslist ul li i.yd,i.bxgsico.yd{background-position:0 -52px;}
.bxgslist ul li .fr{background: url(../images/arr_bg1.png) no-repeat 90% center #fff;background-size:10px auto; padding-right:30px; font-weight:bold; color:#d96118; font-size:14px;}
.bxgslist ul li .big{font-size:18px;}
.store{background:#f6f6f6; margin:0 0 -5px -10%; width: 120%;}
.storedetail{background:#fdfdfd; width:90%; margin:0 auto;}
.store .storebox{background:url(../images/bgtop.png) 0 top repeat-x,url(../images/bgbot.png) 0 bottom repeat-x; position:relative; padding-bottom:20px;}
.storedetail .storebox{background:none; padding:0; border-bottom:1px dashed #a9a9a9; margin-bottom:5px;}
.storebox ul li{ border-top:none; background:transparent; overflow:hidden; border-bottom:1px dashed #a9a9a9; padding:10px 10% 6px;}
.storedetail .storebox ul li{padding:10px 5% 6px;}
.storebox ul li.diff{background:url(../images/diff.png) no-repeat 94% top; background-size:50px auto;}
.storedetail .storebox ul li.diff{background:url(../images/diff.png) no-repeat 100% top;background-size:40px auto;}
.storebox ul li .storename{float:left; line-height:20px; font-weight:bold; margin-bottom:3px;}
.storename i{background:url(../images/serviceico.png) no-repeat; background-size:23px auto; width:23px; height:23px; display:inline-block; margin-right:5px;}
.storename i.ico1{background-position:0 1px;}
.storename i.ico2{background-position:0 -22px;}
.storename i.ico3{background-position:0 -45px;}
.storename i.ico4{background-position:0 -67px;}
.storename i.ico5{background-position:0 -90px;}
.storename .star{background:url(../images/star.png) no-repeat; background-size:100px auto; width:100px; height:20px; display:inline-block;}
.storename .star.s0{background-position:0 2px;}
.storename .star.s1{background-position:0 -18px;}
.storename .star.s2{background-position:0 -37px;}
.storename .star.s3{background-position:0 -56px;}
.storename .star.s4{background-position:0 -76px;}
.storename .star.s5{background-position:0 -96px;}
.storebox ul li .storeprice{float:right;background: url(../images/arr_bg1.png) no-repeat 90% center;background-size: 10px auto;padding-right: 30px;font-weight: bold; color:#d96118;}
.storeprice p{font-size:16px;}
.storeprice .yellowbtn{background:#f3ba22; border:1px solid #f7cf58; border-radius:4px; box-shadow:1px 1px 1px #ae9a4d; color:#2f2f2f; padding:3px 10px; text-align:center;font-weight: bold;}
.storebox ul li:last-child{border-bottom:none;}
.storebox .uparr{background:url(../images/uparr.png) no-repeat; width:67px; height:22px; position:absolute; bottom:-2px; margin-left:-33px; left:50%;}
#companybox{background:#c1c1c1; padding:10px 20px 20px; overflow:hidden;}
#companybox ul li{float:left; width:50%; border-bottom:1px dashed #828282; font-weight:bold; height:36px; line-height:36px;}
#companybox ul li i,.bottd i{background-position:-130px 1px; width:20px; height:20px; margin-right:10px; display:inline-block; vertical-align:-5px;}
#companybox ul li i.on,.bottd i.on{background-position:-130px -19px;}
#submitok{background:url(../images/submitok.png) no-repeat center 20px; padding:190px 40px 0; line-height:30px; background-size:320px auto; min-height:338px; text-align:center; color:#000; font-weight:bold;}
#submitok .title{color:#ebbc04; font-size:21px;}
.uploadbox{overflow:hidden;padding-bottom: 50px;}
.uploadbox h2{border-bottom:1px solid #8d8d8d; box-shadow:2px 0 1px #d1d1d1; padding:15px; line-height:24px;}
.uploadbox .list_upload{padding:25px 0 0; width:90%; margin:0 auto;}
.jszbox{float:left; width:50%; margin:32px 2% 0 0; background:#898989; border:3px dashed #c0c0c0; text-align:center; color:#d8d8d8;  -webkit-box-orient: vertical;-webkit-box-align: center;-webkit-box-pack: center;display: -webkit-box;}
.jszbox .uploadbtn{background:#ebbc04; padding:0 10px; border-radius:6px; height:30px; line-height:30px; border:1px solid #f0ce39; box-shadow:1px 1px 1px #756936; text-align:center; border:none; margin-top:6px;}
.list_upload .example{float:left; width:48%; text-align:center;}
.list_upload .example .examtit{margin-bottom:15px;}
.bg_ed{background:#ededed; padding:5px; width:95%; margin:0 auto; border-radius:8px;}
.bg_ed .dashline{border-bottom:1px dashed #a9a9a9; height:1px; line-height:1px; overflow:hidden;}
.bg_ed .title{background:url(../images/dashline.png) no-repeat 45px center; background-size:160px auto; color:#2f2f2f; font-weight:bold; overflow:hidden; font-size:14px; margin:8px 0 5px;}
.bg_ed .title .fr{color:#d96118;}
.bg_ed .tab{width:90%; margin:0 auto;}
.bg_ed .tab td,.bg_ed .tab th{color:#2f2f2f; font-weight:bold; text-align:left; line-height:30px;}
.bg_ed .tab td.tc{text-align:center;}
.bg_ed .tab th{color:#868686;}
.bg_d9{background:#d9d9d9; width:90%; margin:6px auto; border-radius:4px; padding:5px;}
.bg_d9 .fl{width:30%; text-align:right;}
.bg_d9 .fr{width:70%; text-align:left;}
.bg_ed dl{margin:5px 0 8px; overflow:hidden;}
.bg_ed dl dt{float:left; margin-right:2%; width:20%;}
.bg_ed dl dt{background: url(../images/serviceico.png) no-repeat; width: 46px;height: 45px;display: inline-block;}
.bg_ed dl dt.zp{background-position:0 0px;}
.bg_ed dl dt.ds{background-position:0 -45px;}
.bg_ed dl dt.jy{background-position:0 -90px;}
.bg_ed dl dt.fb{background-position:0 -135px;}
.bg_ed dl dt.lb{background-position:0 -180px;}
.bg_ed dl dd{float:right; line-height:18px; width:78%;}
.bg_ed dl dd.bold{font-size:14px; font-weight:bold;}
.bg_ed.mar_t_10{margin-top:15px;}
.list_box li .yzm{width:58%; margin-right:2%; float:left;}
.list_box li .getyzm{width:40%; float:left;}
.list_box .btn{width:60%; margin:0px auto; padding-bottom: 30px;}
.botpad{padding:20px 10px;}
.list_box li .botth{float:left; width:21%; line-height:40px; text-align:center;}
.list_box li .bottd{float:left; width:79%; text-align:left;}
.botpad li .des{margin-left:20%;  width: 80%;}
/*   liststatus    */
.liststatus,.mybill,.mycar{padding:20px 15px;}
.liststatus ul li{position:relative; height:70px; background:url(../images/arr_bg1.png) no-repeat 98% center #fdfdfd; box-shadow:1px 2px 1px #7e7d7e; border-radius:6px; margin-bottom:25px;}
.liststatus ul li .carbox{float:left;height:70px; width:25%;background:url(../images/xjdbj.png) no-repeat right center #f3ba22; text-align:center; font-weight:bold; border-top-left-radius:6px; border-bottom-left-radius:6px;}
.liststatus ul li .carbox.graybox{background:url(../images/xjdbj1.png) no-repeat right center #c2c2c2; color:#5e5e5e;}
.carbox .carimg{background:url(../images/carimg1.png) no-repeat center 10px; background-size:48px auto;  display: inline-block; width:100%; height:62%;}
.liststatus ul li .infobox{width:75%; float:left; padding:12px 10px 5px; line-height:26px;}
.liststatus ul li .statusbtn{ clear:both; height:auto; line-height:20px; position:absolute; right:-10px; top:-10px; padding:0 5px; font-size:14px; width:auto;}
.liststatus ul li .gray{background:#c2c2c2; border:1px solid #d5d5d1;}
.liststatus .viewmore{ text-align:center;height:30px; line-height:30px; margin:10px auto; font-size:14px;}
.liststatus .viewmore .arrimg{background: url(../images/arr_bg1.png) no-repeat center 0;-webkit-transform: rotate(90deg);width: 13px;height: 26px;display: inline-block;vertical-align: -9px; margin-right:10px;}
.infobox{border-bottom:1px solid #bcbcbc; border-top:1px solid #d4d4d4;}
.infobox ul{padding:10px 0 0px;width:90%; margin:0 auto;}
.infobox ul li{margin-bottom:28px;}
.infobox .idcard{float:left; width:49%; height:120px; margin:10px 0 0;}
.infobox .idcard:nth-child(2){margin-left:2%;}
.comtitle .titbtn{width:40%; float:right;}
.areabox{width:90%; margin:10px auto 0; padding:0 0 20px;}
.areabox ul li{border-bottom:1px dashed #828282; line-height:35px;}
.areabox ul li .marrigh,.list_box li .bottd .marrigh{margin-right:25px;}
.areabox ul li i,.bottd i.sex{background-position:-97px 0; display:inline-block; margin:0 5px; width:19px; height:19px; vertical-align:-5px;}
.areabox ul li i.off,.bottd i.off{background-position:-97px -19px;}
.adress_box{width:90%; margin:7px auto; background:url(../images/arr_bg1.png) no-repeat 96% center #fff; border:1px dashed #bfbfbf; padding:10px;}
.adress_box dl dt{color:#111111; margin-bottom:10px; font-weight:bold;}
.adress_box dl dd{color:#555555; line-height:20px; padding-right:20px;}
.addressimg{ text-align:center;-webkit-box-orient: vertical; height:300px; -webkit-box-align: center; -webkit-box-pack: center;display: -webkit-box;}
.addressimg img{width:50%;}
.addresslist{padding-top:20px;}
.addresslist .adress_box{margin:10px auto 0;}
.editbox{padding:40px 0 0;}
.mybill ul li .carbox{width:26%;}
.mybill ul li .infobox{width:74%;}
.mycar ul li .carbox{width:30%;}
.mycar ul li .infobox{width:70%; padding:12px 5px 5px;}
.mybill .carbox .carimg {background: url(../images/wdbdimg.png) no-repeat center 10px; background-size: 24px auto;}
.mycar .carbox .carimg {background: url(../images/mycar.png) no-repeat center 10px; background-size:72px auto; height: 48%;}
.billdetail{border-radius: 6px;  padding-bottom: 60px;}
.billdetail .billtitle{background: url(../images/bddetail.png) no-repeat right top #e9e9e9; background-size: 74px auto; padding: 10px;margin-bottom:10px;  border-top-left-radius: 6px;border-top-right-radius: 6px;}
.billtitle p{font-size: 14px;}
.billtitle .tab{width: 90%; margin:0 auto;}
.billtitle .tab td{height:35px; line-height: 35px;border-bottom: 1px dashed #a9a9a9;}
.billdetail .colbig{color:#d96118; font-size: 20px;}
.mar_r_30{margin-right: 30px;}
.mycar .addcar{border-bottom: 1px dashed #a9a9a9; margin:0px auto 10px; float: right; padding-bottom:10px;}
.mycar .combtn{padding:0 20px;}


















@media screen and (min-width: 330px) and (max-width: 480px) { 
.countdown .count_num{font-size:26px;}
}
@media screen and (min-width: 960px) and (max-width: 1199px) { 
.countdown{margin:15px 2% 30px 0;}
.countdown .count_num{font-size:60px;top: 18%;}
}
















