@charset "utf-8";
/* 样式说明： 初始化css
 * 开发时间：2015-07-10
 * 开发者： yjs(413903021@qq.com)    
 * 维护者： 
 *
 * 样式版本： v1.1
 * 版本时间： 
 * 注意事项： 基本样式,所有共用基本样式将在这里定义
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote,table, th, td,iframe,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
 margin: 0;  padding: 0; font-size:100%; vertical-align: baseline;box-sizing: border-box;}
/*html5*/
fieldset,img {border:0; vertical-align:middle;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul,li {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
/** 设置默认字体 **/
body{color:#242424;background:#fff;-webkit-text-size-adjust:100%; font:12px/1.5 "微软雅黑","宋体",HELVETICA;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500;line-height: 1.1;}
em{font-style:normal;}
/** 重置超链接元素 **/
a { text-decoration: none; color:#000;}
a:hover{ text-decoration:underline; color:#000;}
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
.clr{clear:both!important;}
.dis_none{display:none;}
.ap{position:relative;}
.pointer{cursor:pointer;}
.tl{text-align:left!important;}
.tc{text-align:center!important;}
.vm{vertical-align:middle!important;}
.bold{font-weight:bold;}
.em2{text-indent:2em;}
/**---------------------------- initialize--------------------------*/
.mar_l_05{margin-left:5px;}
.mar_l_10{margin-left:10px;}
.mar_r_05{margin-right:5px;}
.mar_r_10{margin-right:10px;}
.mar_b_10{margin-bottom:10px;}
.mar_t_05{margin-top:5px;}
.mar_t_10{margin-top:10px;}
.mar_t_15{margin-top:15px;}
.wx_act{width:100%;}
.wx_act img{vertical-align:middle; width:100%;}
.wx_act .main{background:#cacaca; width:100%; text-align:center; font-family:"黑体"; font-size:16px; font-weight:bold; line-height:30px;}
.wx_act .main span{font-size:24px; font-family:Arial, Helvetica, sans-serif;}
.main .btn{background:url(images/btn_bg.png) repeat-x; background-size:1px 31px; height:31px; width:122px; margin:10px auto 15px; text-shadow:0 0px 1px rgba(51,51,51,1); font-size:14px; line-height:31px; text-align:center; box-shadow:0 5px 3px rgba(51,51,51,0.7); border:none; border-radius:8px;}