@charset "utf-8";
/* 样式说明： 初始化css
 * 开发时间：2015-07-10
 * 开发者： yjs(413903021@qq.com)    
 * 维护者： 
 *
 * 样式版本： v1.1
 * 版本时间： 
 * 注意事项： 基本样式,所有共用基本样式将在这里定义
 */
/**---------------------------- index--------------------------*/
.bg1{background:#f3ba22;}
.index_main{background:url(../images/yellow_bj.png) no-repeat right top; overflow:hidden; padding:15px 2% 15px 0%; background-size:60%;}
.index_main ul li{background:#fff; float:left; width:31%; margin:0 0 10px 2%; padding:20px 10px;}
.index_main ul li:nth-child(4),.index_main ul li:nth-child(5),.index_main ul li:nth-child(6){padding:10px 10px;}
.index_main ul li:nth-child(6){background:rgba(249,221,145,0.8);}
.countdown{float:right; margin:0px 2% 30px 0; width:60%; height:auto; position:relative; background:url(../images/count.png) no-repeat; background-size:100%;}
.countdown .count_btn{position:absolute; left:0%; top:2%; width:20%;}
.countdown .count_num{position:absolute; right:11%; top:20%; width:20%; font-size:18px; font-weight:bold; color:#fff;}
/**---------------------------- car_comparison--------------------------*/
.imgsprite{background:url(../images/img_sprit.png) no-repeat;}
.carbj_box{background:#fdfdfd; border-bottom:2px solid #bababa;}
.carbj_box .caranimate{width:90%; margin:0px auto; padding-top:15px; position:relative;}
.caranimate .carimg{position:absolute; left:10px; width:55px; height:18px; background-position:0 0;}
.caranimate .totalline{background:#9e9e9e; position:relative; height:6px;  margin-top:25px; line-height:1px;}
.caranimate .statusline{background:#ebbc04; height:6px; line-height:1px; width:25%;}
.totalline em{background:#fff; width:8px; position:absolute; top:-2px; left:25%; box-shadow:0px 1px 2px #666; height:8px; border:1px solid #e6e6e6; border-radius:50%;}
.caranimate .carinfobox{border:3px solid #ebebeb; color:#000; background:#fdfdfd; text-align:center; padding:3px 5px; position:absolute; top:60px; left:33px;}
.caranimate .carinfoarr{background:url(../images/carinfoboxarr.png) no-repeat #fdfdfd; width:15px; height:10px; position:absolute; top:53px; left:70px;}
.carbj_box .mar_t{margin:55px 0 10px;}
.fillinfo_box{padding:40px 20px;}
.fillinfo_box ul li .des{height:35px; line-height:35px; color:#a60c00; padding-left:10px;}
.fillinfo_box ul li .des i{background-position:0 -79px; vertical-align: -7px;display: inline-block; background-size: 100px auto; width:27px;height:26px;}
.fillinfo_box ul li .liimg{float:left; width:42px;}
.fillinfo_box .mar_l_30{margin-left:30px;}
.liimg.city{background-position:6px -24px; width:27px; height:32px;margin-top:2px;}
.liimg.num{background-position:-46px -30px; margin-top:6px; width:37px; height:24px;}
.liimg.name{background-position:6px -66px; width:26px; height:29px;margin-top:2px;}
.fillinfo_box ul li .textbox{display:inline-block; width:85%;}
.license_box{padding:20px;}
.list_box ul li .des{height:35px; line-height:35px; width:100%; color:#a60c00; padding-left:10px;}
.list_box ul li .des i{background-position:0 -79px; vertical-align: -7px;display: inline-block; background-size: 100px auto; width:27px;height:26px;}

@media screen and (min-width: 330px) and (max-width: 480px) { 
.countdown .count_num{font-size:26px;}
}
@media screen and (min-width: 960px) and (max-width: 1199px) { 
.countdown{margin:15px 2% 30px 0;}
.countdown .count_num{font-size:60px;top: 18%;}
}
















