@charset "utf-8";
/* 样式说明： 初始化css
 * 开发时间：2015-07-10
 * 开发者： yjs(413903021@qq.com)    
 * 维护者： 
 *
 * 样式版本： v1.1
 * 版本时间： 
 * 注意事项： 基本样式,所有共用基本样式将在这里定义
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote,table, th, td,iframe,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
 margin: 0;  padding: 0; font-size:100%; vertical-align: baseline;box-sizing: border-box;}
 input:text, input:password {
    border: 0;
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    outline: none;
}
/*html5*/
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video { display:block;}
table {border-collapse:collapse; border-spacing:0;}
fieldset,img {border:0; vertical-align:middle; width:100%; height:auto;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul,li {list-style:none;}
/** 设置默认字体 **/
body{color:#000;background:#fff;-webkit-text-size-adjust:100%; font:12px/1.5 "微软雅黑","宋体",HELVETICA;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500;line-height: 1.1;}
em{font-style:normal;}
/** 重置超链接元素 **/
a { text-decoration: none; color:#000;}
a:hover{ text-decoration:underline; color:#000;}
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
.clr{clear:both!important;}
.dis_none{display:none;}
.ap{position:relative;}
.pointer{cursor:pointer;}
.tl{text-align:left!important;}
.tc{text-align:center!important;}
.vm{vertical-align:middle!important;}
.bold{font-weight:bold;}
.em2{text-indent:2em;}
/**---------------------------- initialize--------------------------*/
.main{width:100%; height:auto;}
.bg_gradient{background:-webkit-gradient(linear, 0 0, 0 bottom, from(#979797), to(#c2c2c2)); min-height:300px; border-top:2px solid #d4d4d4;}
.mar_l_05{margin-left:5px;}
.mar_l_10{margin-left:10px;}
.mar_r_05{margin-right:5px;}
.mar_r_10{margin-right:10px;}
.mar_b_10{margin-bottom:10px;}
.mar_t_05{margin-top:5px;}
.mar_t_10{margin-top:10px;}
.mar_t_15{margin-top:15px;}
.space_50{height:50px; clear:both; line-height:1px; font-size:0;}
.font14{font-size:14px;}
*[placeholder] {color:#777777;}
.line{background:#fff; height:2px; line-height:1px; border-top:2px solid #999999; width:100%;}
.text_box{height:40px; line-height:40px;background:-webkit-linear-gradient(top,#7f7e7e,#b9b9b9); border-radius:6px; position:relative;}
.text_box .text{height:32px; line-height:33px; background:#fff; border-radius:6px; border:1px solid #fff; width:96%; margin-left:2%; padding-left:10px; color:#777777;}
.text_box .text.error{border:2px solid #e60012;height:30px; line-height:31px;}
.text_box .text.error::-webkit-input-placeholder{color:#e60012;}
.text_box .text.textarr{background:url(../images/arr_bg.png) no-repeat 90% center #fff; background-size:7px auto;} 
.text_box .select{width:100%; height:40px; position:absolute; left:0; top:0; opacity:0;}
.text_box .datetime{width:100%; height:40px; position:absolute; left:0; top:0; opacity:0; z-index:55;}
.nextbtn{background:#ebbc04; height:50px; border:none; width:100%; font-size:14px; font-weight:bold; line-height:50px; text-align:center; color:#2a2a2a;}