@charset "utf-8";
/* 样式说明： 初始化css
 * 开发时间：2015-07-10
 * 开发者： yjs(413903021@qq.com)    
 * 维护者： 
 *
 * 样式版本： v1.1
 * 版本时间： 
 * 注意事项： 基本样式,所有共用基本样式将在这里定义
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, table, th, td, iframe, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { padding: 0; margin: 0; list-style: none; font-family: "微软雅黑", Arial, sans-serif; font-size: 12px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-appearance: none; -webkit-focus-ring-color: rgba(80, 80, 230, 0); resize: none; outline: none; box-sizing: border-box; }
 input:text, input:password {
 border: 0;
 -webkit-focus-ring-color: rgba(0, 0, 0, 0);
 outline: none;
}
/*html5*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { display: block; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; vertical-align: middle; width: 100%; height: auto; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul, li { list-style: none; }
/** 设置默认字体 **/
body { color: #000; background: #fff; -webkit-text-size-adjust: 100%; font: 12px/1.5 "微软雅黑", "宋体", HELVETICA; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; line-height: 1.1; }
em { font-style: normal; }
/** 重置超链接元素 **/
a { text-decoration: none; color: #000; }
a.red { color: #9b0505; text-decoration: none; }
.fl { float: left; display: inline; }
.fr { float: right; display: inline; }
.clr { clear: both!important; }
.dis_none { display: none; }
.ap { position: relative; }
.overhidden { overflow: hidden; }
.lineh_200 { line-height: 200%; }
.pointer { cursor: pointer; }
.tl { text-align: left!important; }
.tc { text-align: center!important; }
.tr { text-align: right!important; }
.vm { vertical-align: middle!important; }
.bold { font-weight: bold; }
.em2 { text-indent: 2em; }
.col_red { color: #a60c00; }
.col_require { color:#9b0505;}
.col_money{color:#d96118;}
/**---------------------------- initialize--------------------------*/
.main { width: 100%; height: auto; }
.bg_gradient { background: -webkit-gradient(linear, 0 0, 0 bottom, from(#979797), to(#c2c2c2)); min-height: 300px; border-top: 2px solid #d4d4d4; }
.bg_logo { min-height: 200px; display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center; text-align: center; }
.bg_logo img { width: 50%; }
.bg_gray { background: #d8d8d8; }
.mar_l_10 { margin-left: 10px; }
.mar_r_10 { margin-right: 10px; }
.mar_b_10 { margin-bottom: 10px; }
.mar_t_05 { margin-top: 5px; }
.mar_t_10 { margin-top: 10px; }
.mar_t_15 { margin-top: 15px; }
.pad_b_05{padding-bottom:5px;}
.space_50 { height: 50px; clear: both; line-height: 1px; font-size: 0; }
.font14 { font-size: 14px; }
.bor_no { border: none; }
*[placeholder] { color: #777777; }
.line { height: 2px; line-height: 1px; border-bottom: 2px solid #fff; border-top: 2px solid #999999; width: 100%; }
.comtitle { height: 40px; line-height: 40px; border-bottom: 1px solid #bcbcbc; color: #111111; font-size: 14px;width: 100%; padding: 0 15px; background: #989898; }
.text_box { height: 40px; line-height: 40px; background: -webkit-linear-gradient(top, #7f7e7e, #b9b9b9); border-radius: 6px; position: relative; }
.text_box .text { height: 32px; line-height: 32px; background: #fff; border-radius: 6px; border: 1px solid #fff; width: 98%; margin-left: 1%; padding-left: 10px; color: #393939; }
.text_box .text.error { border: 2px solid #e60012; }
.text_box.text_area { height: 100px; line-height: 24px; }
.text_box.text_area .area { height: 94px; width: 98%; margin: 3px 1%; border-radius: 6px; padding: 8px; }
.text_box.text_area .error { border: 2px solid #e60012; }
.text_box .text.textarr { background: url(../images/arr_bg1.png) no-repeat 90% center #fff; background-size: 7px auto; }
.text_box .text2arr { position: absolute; right: 10%; top: 0; background: url(../images/arr_bg.png) no-repeat 90% center; background-size: 92px auto; color: #393939; width: 92px; text-align: right; padding-right: 22px; }
.text_box .select { width: 100%; height: 40px; position: absolute; left: 0; top: 0; opacity: 0; }
.text_box .select.hide{display:none;}
.text_box .datetime { width: 100%; height: 40px; position: absolute; right: 0; top: 0; opacity: 0; z-index: 55; }
.nextbtn { background: #ebbc04; height: 50px; border-radius: 0; border: none; width: 100%; font-size: 14px; font-weight: bold; line-height: 50px; text-align: center; color: #2a2a2a; }
.orbtn { background: url(../images/or.png) no-repeat 0 -27px; background-size: 54px 54px; width: 54px; height: 27px; display: inline-block; margin-left: 10px; vertical-align: middle; border: none; }
.orbtn.on{ background-position: 0 0px; }
.combtn { background: #ebbc04; border: 1px solid #f1d042; box-shadow: 1px 1px 1px #99937e; text-align: center; color: #2d2d2d; font-weight: bold; border-radius: 4px; height: 35px; line-height: 35px; padding: 0 5px; width: 100%; font-size: 14px; }
.combtn.disable,.combtn.gray{background: #c2c2c2;border: 1px solid #d5d5d1;}
.combtn.gray{height:30px; line-height:30px; font-size:12px;}
.editbtn, .delbtn { height: 35px; line-height: 35px; padding: 0 5px; text-align: center; color: #2d2d2d; font-weight: bold; font-size: 14px; background: #ebbc04; width: 50%; border: none; display: inline-block; float: left; }
.delbtn { background: #e3e3e3; }
.fileimg{position:absolute; left:0; top:5px; opacity:0; width:100%; z-index:10;}
/* 模态框  */
.modal { overflow-x: hidden; overflow-y: auto; position: fixed; top: 0; opacity: 0; right: 0; bottom: 0; left: 0; z-index: 1050; -webkit-overflow-scrolling: touch; outline: 0; }
.modal.fade .modal-dialog { transform: translate(0, -200%); transition: transform 0.9s ease-out; }
.modal.in .modal-dialog { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }
.modal-dialog { position: relative; width: auto; margin: 10px; }
.modal-content { position: relative; background-color: #ffffff; border: 1px solid #999999; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); -webkit-background-clip: padding-box; background-clip: padding-box; outline: 0; }
.modal-header { padding: 12px; min-height: 16.42857143px; }
button.close { padding: 0; cursor: pointer; background: transparent; border: 0; -webkit-appearance: none; }
.close { float: right; font-size: 21px; font-weight: bold; line-height: 1; color: #000000; text-shadow: 0 1px 0 #ffffff; opacity: 0.2; filter: alpha(opacity=20); }
h4, .h4 { font-size: 16px; }
.modal-header .close { margin-top: -2px; }
.modal-title { margin: 0; line-height: 1.42857143; }
.modal-body { position: relative; font: bold 16px/20px '宋体'; color: blue; padding: 15px; text-align: center; }
.modal-backdrop,#loadingbox,#loading{ position: fixed; top: 0; opacity: 0; right: 0; bottom: 0; left: 0; transition: opacity 0.4s ease-out; z-index: 1040; background-color: #000000;-webkit-box-orient: vertical;-webkit-box-align: center;-webkit-box-pack: center;display: -webkit-box; text-align:center;}
.modal-backdrop.in { opacity: 0.5; transition: opacity 0.2s ease-out; }
#loadingbox,#loading{display:none; opacity:0.8; color:#fff;transition: opacity 0.2s ease-out;}
#loadingbox{background:url(../images/loading.gif) no-repeat center center #000; background-size:102px auto;}